.student-test-card {
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 15px;
  background: #ffffff;
  min-width: 278px;

  &_status {
    outline: none;
    background: transparent;
    border: none;
    border-top: 1px solid black;
    text-align: center;
    padding: 12px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background-color: rgba(234, 234, 234, 0.5);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      opacity: 0.8;
    }
  }

  &_color.red {
    background-color: #dd4848;
  }
  &_color.orange {
    background-color: #f77126;
  }
  &_color.yellow {
    background-color: #efc222;
  }
  &_color.light-green {
    background-color: #92e20e;
  }
  &_color.green {
    background-color: #16ff05;
  }

  &_color {
    width: 72px;
    height: 72px;
    border-radius: 0 15px 0 0;
  }

  &_content {
    display: flex;
    flex-direction: row;

    &_info {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 8px 24px 8px 16px;
    }
  }
}
