.app-sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;

  &_item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;

    svg {
      width: 100%;
    }

    &:last-child {
      padding-bottom: 8px;
      padding-right: 4px;
    }

    padding: 4px;
  }
}

.active-sidebar-item {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}
