.app-upper-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 1px 34px;
  position: absolute;
  right: 20px;
  top: 16px;
  background-color: #ffffff;

  box-shadow: 1px 1px 5px 1px #ccc;
  border-radius: 28px;

  z-index: 100;

  &_profile {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 60px;
    border-radius: 16px 0 16px 16px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    padding: 16px;
    gap: 20px;
    width: fit-content;
    align-items: center;
    min-width: 230px;
    transition: 0.5s;

    &_photo {
      position: relative;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &_upload {
        position: absolute;
        z-index: 5;
        cursor: pointer;

        width: 64px;
        height: 64px;
        opacity: 0;
      }

      svg {
        z-index: 10;
      }

      img {
        width: 64px;
        height: 64px;
        position: absolute;
        z-index: 10;
      }
    }

    &_name {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    &_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px;

      button {
        width: 100%;
        border: none;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        border-radius: 8px;
        background: transparent;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
        transition: 0.3s;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  &_menu_opened {
    opacity: 1;
  }
}
