.MuiTypography-root {
  font-size: 30px !important;
}

.MuiTypography-root.MuiTypography-body1.MuiDayCalendar-weekNumber {
  font-size: 30px !important;
}

.app-courses {
  width: 100%;
  box-sizing: border-box;
  background-color: #e1e2ec;
  border-radius: 0 16px 16px 16px;
  position: relative;
  border-top: 16px solid #c5c6d0;
  height: 100%;
  padding: 16px;

  &_delete {
    position: absolute;
    right: 20px;
    bottom: 20px;

    svg {
      transition: 0.5s;
    }
  }

  &_new-test_modal {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 280px;
    background: #f8fdf8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 12px 25px 25px;
    gap: 24px;

    button {
      height: 88px;
      border-radius: 100px;
      border: 3px solid #6750a4;
      color: #6750a4;
      font-size: 18px;
      transition: 0.3s;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:disabled {
        cursor: not-allowed;
        color: #1b1b1f;
        opacity: 0.5;
      }
    }

    &_cancel {
      margin-left: auto;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }


  &_new-taskList_modal_content {
    width: 100%;
    height: fit-content;
    background: #f8fdf8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 12px 25px 25px;
    gap: 32px;

    input {
      height: 40px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #44464f;
      outline: none;
    }

    button {
      height: 48px;
    }
  }

  &_subjects {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: -61px;
    left: 0;

    &_add-new {
      border: none;
      background: transparent;
      margin-left: 4px;
      margin-top: 4px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-add {
        position: relative;
        left: 8px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      &-item {
        position: relative;
        top: 7px;
        background-color: #c5c6d0;
        border-radius: 10px 10px 0 0;
        padding: 10px 16px 10px;
        transition: top 0.3s ease 0s;
        display: flex;
        align-items: center;
        gap: 12px;

        input {
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid #757780;

    &_edit {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      transition: 0.3s;

      &:hover {
        background-color: #f2f0f4;
        cursor: pointer;
      }
    }

    &_add {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      color: #6750a4;
      width: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &_list {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      padding-bottom: 20px;
      align-items: center;

      &-item {
        background-color: #fbf8fd;
        border-radius: 16px;
        padding: 16px 14px;
        color: #757780;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 12px;
        height: 30px;

        svg {
          height: 20px;
        }

        &_edit {
          width: 20px;
          height: 20px;
        }

        input {
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
        }

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &_tasks {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    padding: 0 24px;
    flex-wrap: wrap;

    &_add {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 15px;
      background-color: #fbf8fd;
      height: 68px;
      width: 68px;
      margin: 12px 0;
      transition: 0.3s;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      color: #6750a4;

      &:hover {
        background-color: #f2f0f4;
        cursor: pointer;
      }
    }
  }

  &_calendar {
    z-index: 20;
    position: fixed;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;

    &_content {
      height: 90%;
      border-radius: 15px;
      box-shadow: 0 0 3px 2px rgba(27, 27, 31, 0.3);
    }

    &_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &_close {
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.active-topic {
  border: 1px solid #757780;
  transition: 0.3s;
  box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.3);
}

.active-subject {
  background-color: #e1e2ec;
  position: relative;
  top: 24px;
  transition: background-color 0.4s;
}

.courses-delete-drop {
  svg {
    width: 64px;
    height: 64px;
  }
}
