.typography-size {
  &-small {
    font-size: 12px;
  }

  &-default {
    font-size: 14px;
  }

  &-large {
    font-size: 18px;
  }
}

.typography-weight {
  &-default {
    font-weight: 400;
  }

  &-bold {
    font-weight: 500;
  }

  &-italic {
    font-weight: 300;
  }
}

.typography-color {
  &-default {
    color: #000;
  }

  &-gray {
    color: #1b1b1f;
  }

  &-purple {
    color: #6750a4;
  }

  &-red {
    color: #dd4848;
  }
}
