.card-disabled {
  opacity: 0.8;
  pointer-events: none;
}

.task-card {
  background-color: #e1e2ec;
  border-radius: 0 15px 15px 15px;
  padding: 16px 24px 16px 12px;
  position: relative;

  &_assets {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_item {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &_loaded_assets {
    display: flex;
    flex-direction: row;
    gap: 4px;

    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
    }
  }

  &_attachments {
    margin-left: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;

    input {
      width: 46px;
      height: 46px;
      position: absolute;
      z-index: 10;
      opacity: 0;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      position: absolute;
      background-color: #FFFFFF;
      border: 1px solid #c5c6d0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      width: 46px;
      height: 46px;
    }


  }

  .MuiSelect-select {
    padding: 4px !important;
  }

  .MuiInputBase-input {
    padding: 4px !important;
    font-size: 14px !important;
  }

  &_upper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_files {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 12px;
    overflow-x: scroll;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      height: fit-content;
      width: 200px;
      gap: 8px;

      &_text {
        padding: 0 16px;
        overflow-wrap: break-word;
        text-align: center;
      }

      img {
        object-fit: contain;
        border-radius: 15px;
        height: 140px;
      }
    }
  }

  &_task {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 100%;

    &_score {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_container {
        display: flex;
        width: 100%;
        align-items: center;
      }

      select {
        border-radius: 8px;
        width: calc(50% - 8px);
        padding: 0 12px;
      }
    }

    &_score_maxScore {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 15px;
      padding: 8px 12px;
      width: calc(50% - 8px);

      &-title {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 4px;
      }
    }
  }

  &_criteria {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_criteria {
    justify-content: space-between;

    &-attach {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  &_task-container {
    width: 100%;
    height: 100%;
  }

  &_task-container,
  &_criteria-text {
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 12px;
    overflow-wrap: break-word;

    textarea {
      border: none;
      box-shadow: none;
      border-radius: 4px;
      resize: vertical;
    }

    &_title {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 4px;
    }
  }

  &_trash svg {
    width: 28px;
    height: 28px;
  }

  &_trash,
  &_save {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    bottom: 12px;
    transition: 0.3s;
    z-index: 5;


    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &_new-asset {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 16px;

    &_buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 48px;
      height: 100%;

      button {
        width: 48px;
        height: 48px;
        background: transparent;
        border: none;
        transition: 0.3s;

        svg {
          height: 32px;
        }

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    &_content {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      padding: 12px 12px 12px 12px;
      width: 100%;
      height: 100%;
      border-radius: 16px;

      &_image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30%;
        border: 1px solid #6750a4;
        border-radius: 15px;
        transition: 0.3s;
        object-fit: contain;

        img {
          position: absolute;
          left: 0;
          top: 0;
          padding: 1px;
          border-radius: 15px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          opacity: 0.8;
        }

        &-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        input {
          cursor: pointer;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 20;
        }
      }

      &_text {
        width: 30% !important;
      }
    }
  }
}
