.test-result {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: relative;
  top: -28px;

  .task-pass-card_criteria-container {
    top: 0;
  }

  &_title {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 16px;

    &_maxScore p {
      color: #f77126;
    }

    &_replay {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &_tasks {
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 85vh;
    overflow-y: scroll;

    &_item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 15px;

      &_task {
        width: 100%;
      }

      &_analytics {
        gap: 12px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin-left: 1px;
        width: 100%;
        background-color: #fefbff;
        border-radius: 15px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &_submit-test {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 2px 1px rgba(103, 80, 164, 0.3);
    padding: 4px 6px;
    border-radius: 8px;
    margin-top: 20px;
    width: fit-content;
    align-self: flex-end;
    margin-right: 20px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
