.tests {
  width: 100%;
  box-sizing: border-box;
  background-color: #e1e2ec;
  border-radius: 0 16px 16px 16px;
  position: relative;
  border-top: 16px solid #c5c6d0;
  height: 100%;

  &_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .active-subject {
    background-color: #e1e2ec;
    height: 36px;
    top: 6px;
    padding-top: 14px;
    transition: all 0.4s;
  }

  &_select_tutor {
    padding: 16px;
  }

  &_tutors {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    gap: 24px;
    margin-right: 20px;

    &_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &_image {
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e1e2ec;
        padding: 4px;
        border-radius: 50%;
        color: #575e71;
        border: 2px solid #e1e2ec;

        img {
          object-fit: contain;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
  }

  &_subjects {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    top: -38px;

    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-item {
        position: relative;
        background-color: #c5c6d0;
        border-radius: 10px 10px 0 0;
        padding: 8px 16px 16px;
        transition: top 0.3s ease 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        height: 38px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid #757780;

    &_list {
      transition: 0.3s;
      display: flex;
      flex-direction: row;
      column-gap: 12px;
      padding: 12px 0;
      align-items: center;

      &-item {
        transition: 0.3s;
        background-color: #fbf8fd;
        border-radius: 16px;
        padding: 4px 12px;
        color: #757780;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 12px;
        height: 28px;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &_tasks {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 12px;
    padding: 16px 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 0.3s;
    max-height: calc(100% - 78px);
    height: fit-content;
    overflow-y: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.student-active-topic-item {
  color: #6750a4;
  transition: 0.3s;
  border-color: #6750a4;
}

.active-subject-title {
  color: #6750a4;
  transition: 0.3s;
}

.active-tutor-item {
  .tests_tutors_item_image {
    color: #6750a4;
    border-color: #6750a4;
    background-color: #d9e2ff;
  }

  .tests_tutors_item_name {
    color: #6750a4;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
  }
}

@media (min-width: 1600px) {
  .tests {
    width: 100%;
    box-sizing: border-box;
    background-color: #e1e2ec;
    border-radius: 0 16px 16px 16px;
    position: relative;
    border-top: 16px solid #c5c6d0;
    height: 100%;

    &_select_tutor {
      padding: 16px;
    }

    &_tutors {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: fit-content;
      gap: 24px;
      margin-right: 20px;

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.8;
        }

        &_image {
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e1e2ec;
          padding: 4px;
          border-radius: 50%;
          color: #575e71;
          border: 2px solid #e1e2ec;

          img {
            object-fit: contain;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
      }
    }

    &_subjects {
      display: flex;
      flex-direction: row;
      border-radius: 16px;
      position: absolute;
      width: 100%;
      top: -42px;
      left: 0;

      &_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &-item {
          position: relative;
          background-color: #c5c6d0;
          border-radius: 10px 10px 0 0;
          padding: 8px 16px 16px;
          transition: top 0.3s ease 0s;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          height: 38px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &_topics {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      border-bottom: 1px solid #757780;

      &_list {
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding: 16px 0;
        align-items: center;

        &-item {
          transition: 0.3s;
          background-color: #fbf8fd;
          border-radius: 16px;
          padding: 4px 12px;
          color: #757780;
          font-size: 14px;
          font-weight: 500;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          gap: 12px;
          height: 28px;

          &:hover {
            cursor: pointer;
          }
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    &_tasks {
      display: flex;
      flex-direction: row;
      column-gap: 32px;
      row-gap: 20px;
      padding: 16px 20px;
      flex-wrap: wrap;
      transition: 0.3s;
      max-height: calc(100% - 78px);
      height: fit-content;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
