.app-test-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 15px 15px 15px;
  background-color: #fbf8fd;
  transition: 0.3s;
  padding: 8px 16px;
  margin: 10px 0;

  width: 230px;

  .MuiFormControl-root {
    margin-top: 4px;
    max-height: 28px !important;

    .MuiInputBase-root {
      max-height: 28px !important;
    }
  }

  &_content input {
    margin: 4px 0;
    border: none;
    padding: 4px;
    border-radius: 4px;
    width: 150px;
    height: 30px !important;
  }

  &:hover {
    background-color: #f2f0f4;
    cursor: pointer;
  }

  &_subject-topic {
    color: #6750a4;
    font-size: 12px;
  }

  &_name {
    font-size: 13px;
    padding: 4px 0;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_tasks {
    font-size: 11px;
    color: #44464f;
  }

  &_share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 32px;
    height: 32px;

    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1600px) {
  .app-test-card {
    width: 260px;

    &_name {
      font-size: 14px;
      padding: 4px 0;
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_tasks {
      font-size: 12px;
      color: #44464f;
    }

    &_content input {
      margin: 4px 0;
      border: none;
      padding: 4px;
      border-radius: 4px;
      width: 170px;
      height: 30px !important;
    }
  }
}
