.feedback {
  position: absolute;
  top: 16px;
  right: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  z-index: 100;

  &_modal {
    background-color: #f8fdf8;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: fit-content;
    border: 1px solid #6750a4;
    border-radius: 15px;
    padding: 20px 16px;
    gap: 8px;

    button {
      width: fit-content;
      align-self: flex-end;
      font-size: 12px;
      border-radius: 8px;
      height: 28px;
    }

    &_textField {
      border-radius: 4px;
      resize: none;
      height: 260px !important;
      overflow-y: auto !important;
      background-color: transparent !important;
      padding: 8px;
    }
  }

  &_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    font-size: 12px;
    height: 32px;
    padding: 4px 12px;
    background-color: #E1E2EC;
    border: 1px solid #6750a4;
    color: #6750a4;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
