.app-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 25px 0;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}
