button:disabled, button:disabled:hover {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c8caff;
    border-radius: 12px;
  }
}

.app {
  width: calc(100vw - 120px);
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 100px;

  &_title {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 32px;
    left: 100px;
    font-size: 20px;
    gap: 8px;

    &-menu {
      display: none;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.backdrop-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.fallback {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .app {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0 20px;

    &_title {
      left: 20px;
      font-size: 24px;

      &-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 525px) {
  .app {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 140px;
    padding: 0 12px;

    &_title {
      left: 20px;
      font-size: 24px;
    }
  }
}
