.app-create-test {
  padding: 0 24px;
  height: 100%;
  width: 100%;

  display: flex;
  gap: 16px;

  textarea {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 12px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1f;

    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &_text-container {
    position: relative;
    top: -72px;
    height: calc(100% + 10px);
    width: 35%;

    &_title {
      position: absolute;
      top: 63px;
      left: 1px;
      width: calc(100% - 8px);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 8px 12px;
      background: #ffffff;
    }

    &_main {
      padding: 36px 12px 12px;
    }
  }

  &_text-container_name {
    width: 100%;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-text {
      width: 80%;
    }

    &-title {
      padding-bottom: 8px;
    }

    &-cut {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &-work input {
      width: 100%;
      padding: 2px 0;
      outline: none;
      font-size: 18px;
      border: none;
    }
  }

  &_tasks-container {
    padding: 4px 12px;
    overflow-y: scroll;
    position: relative;
    top: -80px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% + 80px);

    &_addItem {
      background-color: #e1e2ec;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      min-height: 72px;
      border-radius: 0 15px 15px 15px;
      color: #6750a4;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &_title {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: space-between;
      width: 85%;

      &_save {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      font-size: 14px;
      color: #6750a4;

      &_maxScore {
        margin-top: 4px;
        color: #303034;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  &_trash {
    position: absolute;
    bottom: 32px;
    right: 20px;
  }
}
