.app-create-test {
  height: calc(100% + 86px);
  width: 100%;
  display: flex;
  position: relative;
  top: -48px;
  flex-direction: column;

  &_in_progress {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .generate-disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;


    &:hover {
      cursor: not-allowed;
    }
  }

  .tasks-container-generation {
    max-width: 100% !important;
    display: grid;
    grid-template-columns: 35% auto;
    height: 100%;
    max-height: 100vh;
  }

  &_generate_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    max-height: 100vh;
    width: 100%;

    &_text {
      padding: 12px;
      background-color: #FEFBFF;
      width: 100%;
      height: 100%;
      max-height: calc(100vh - 108px);
      box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
      border-radius: 15px;

      &_info {
        align-self: flex-end;
        justify-self: flex-end;
        text-align: right;
      }

      &-title {
        margin-bottom: 8px;
      }

      textarea {
        padding: 4px;
        min-width: 100%;
        width: 100%;
        background-color: #FEFBFF;
        border: none;
        resize: none;
        max-height: calc(100% - 36px);
        overflow-y: auto;
        min-height: calc(100% - 36px);
      }
    }
  }

  &_text-container {
    position: relative;
    height: 70px;
    padding-left: 16px;
    width: fit-content;
    gap: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &_ball {
      width: 150px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &_title {
      position: absolute;
      top: 63px;
      left: 1px;
      width: calc(100% - 8px);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 8px 12px;
      background: #ffffff;
    }

    &_main {
      padding: 36px 12px 12px;
    }
  }

  &_text-container_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-title {
      padding-bottom: 8px;
    }

    &-cut {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &-work input {
      width: 100%;
      height: 22px;
      padding: 4px;
      outline: none;
      font-size: 14px;
      border: 1px solid rgba(68, 70, 79, 0.3);
      border-radius: 4px;
    }
  }

  &_tasks-container {
    padding: 4px 8px;
    overflow-y: scroll;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    textarea {
      width: 100%;
      padding: 4px;
    }

    &_addItem {
      background-color: #e1e2ec;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 56px;
      max-width: 56px;
      min-height: 56px;
      max-height: 56px;

      svg {
        width: 50%;
      }

      border-radius: 0 15px 15px 15px;
      color: #6750a4;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &_title {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: space-between;
      width: 85%;

      &_save {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        height: 44px;
        gap: 12px;
        width: 190px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 12px;
        transition: 0.3s;

        &_icon {
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          border-radius: 12px;
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          transition: 0.3s;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      font-size: 14px;
      color: #6750a4;

      &_maxScore {
        margin-top: 4px;
        color: #303034;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  &_trash {
    position: absolute;
    bottom: 32px;
    right: 20px;
  }

  .min-width {
    min-width: 200px;
  }
}
