.MuiTypography-root {
  font-size: 30px !important;
}

.MuiTypography-root.MuiTypography-body1.MuiDayCalendar-weekNumber {
  font-size: 30px !important;
}

.app-courses {
  width: 100%;
  box-sizing: border-box;
  background-color: #E1E2EC;
  border-radius: 0 16px 16px 16px;
  position: relative;
  border-top: 16px solid #C5C6D0;
  height: 100%;

  &_delete {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  &_new-test_modal {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 280px;
    background: #F8FDF8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 12px 25px 25px;
    gap: 24px;

    button {
      height: 88px;
      border-radius: 100px;
      border: 3px solid #6750A4;
      color: #6750A4;
      font-size: 18px;
      transition: 0.3s;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:disabled {
        cursor: not-allowed;
        color: #1B1B1F;
        opacity: 0.5;
      }
    }

    &_cancel {
      margin-left: auto;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  &_subjects {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 16px;
    position: absolute;
    top: -61px;

    &_add-new {
      border: none;
      background: transparent;
      margin-left: 4px;
      margin-top: 4px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    &_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-add {
        position: relative;
        left: 8px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      &-item {
        position: relative;
        top: 5px;
        background-color: #C5C6D0;
        border-radius: 10px 10px 0 0;
        padding: 10px 16px 10px;
        transition: top 0.3s ease 0s;
        display: flex;
        align-items: center;
        gap: 12px;

        input {
          &:disabled {
            background: transparent;
            border: none;
            outline: none;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid #757780;

    &_edit {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      transition: 0.3s;

      &:hover {
        background-color: #F2F0F4;
        cursor: pointer;
      }
    }

    &_add {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      color: #6750A4;
      width: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &_list {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      padding: 20px 0;
      align-items: center;

      &-item {
        background-color: #FBF8FD;
        border-radius: 16px;
        padding: 5px 10px;
        color: #757780;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 12px;
        height: 30px;

        &_edit {
          width: 20px;
        }

        input:disabled {
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
        }

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &_tasks {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    padding: 0 24px;
    flex-wrap: wrap;

    &_add {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 15px;
      background-color: #FBF8FD;
      height: 68px;
      width: 68px;
      margin: 12px 0;
      transition: 0.3s;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      color: #6750A4;

      &:hover {
        background-color: #F2F0F4;
        cursor: pointer;
      }
    }
  }

  &_calendar {
    z-index: 20;
    position: fixed;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;

    &_content {
      height: 90%;
      border-radius: 15px;
      box-shadow: 0 0 3px 2px rgba(27, 27, 31, 0.3);
    }

    &_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &_close {
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &_share {
    z-index: 20;
    position: fixed;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;

    &_content {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &_config {
        padding: 12px 20px;
        display: flex;
        background: #E1E2EC;
        height: 100%;
        border-radius: 0 15px 15px 15px;
        width: 50%;
        flex-direction: column;

        &_dateTime {
          gap: 12px;
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          border-radius: 0 15px 15px 15px;

          &_time {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
        }

        &_task {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: #FFFFFF;
          border-radius: 0 15px 15px 15px;
          padding: 16px;
          gap: 4px;

          &-topic {
            color: #6750A4;
          }

          &-name {
            font-size: 20px;
          }

          &-amount {
            color: #44464F;
            font-size: 14px;
          }
        }
      }

      &_groups {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 20px;
      }
    }

    &_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      &-close {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }

      &-name {
        font-size: 24px;
      }
    }

    .group-card {
      min-width: auto;
      cursor: pointer;
    }

    background: #fff;
  }
}

.active-topic {
  color: #6750A4;
  border: 1px solid #757780;
  transition: 0.3s;
  box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.3);
}

.active-subject {
  background-color: #E1E2EC;
  position: relative;
  top: 24px;
  transition: background-color 0.4s;

  input {
    font-weight: 500;
    color: #6750A4;
  }
}
